@use '../../styles/constants.scss' as constants;
@use 'sass:map';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// world map
.marks {
  .sphere {
    fill: transparent;
  }

  .interiors {
    fill: transparent;
    stroke: #545a6d;
  }

  .land {
    fill: transparent;
    stroke: #545a6d;

    &:hover {
      fill: constants.$brand-yellow;
    }
  }

  .country-label {
    font-size: 1em;
    stroke: #8e8883;
  }
}



.note-title {
  font-size: 1em;
  font-weight: bold;
  fill: map.get(constants.$font-colors, light);
}
