@use 'sass:map';

// media
$desktopMinWidth: 1024px;
$tabletMinWidth: 768px;

@mixin tablet {
  @media (min-width: $tabletMinWidth) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktopMinWidth) {
    @content;
  }
}

.gutter {
  position: relative;
  padding: 0px 4px;

  @include tablet {
    padding: 0px 12px;
  }

  @include desktop {
    padding: 0px 36px;
  }
}

.layout {
  position: relative;
}

/* van-gogh */
$brand-blue: #2E9AD8ff;
$khaki: #AC9E93ff;
$brand-yellow: #FECF00ff;
$brand-dark: #18262Aff;
$brand-silver: #B3B3B3ff;
$brand-bg: #efecea;

// text font
$font-colors: (
  main: $brand-dark, //#635f5d,
  light: $brand-silver, //#8e8883,
  demoblue: $brand-blue,// #688bab,
  purple: #8e6c8a,
  green: #0f8c79,
  background: #efecea,
);

$font-styles: (
  fancy: (
    'Titillium Web',
    sans-serif,
  ),
  plain: (
    Arial,
    Helvetica,
    sans-serif,
  ),
);

$font-sizes: (
  secondary: clamp(0.625rem, 0.5rem + 0.4vw, 0.875rem),
  paragraph: clamp(0.95rem, 0.9rem + 0.3vw, 1.125rem),
  subsubheading: clamp(1rem, 0.95rem + 0.4vw, 1.25rem),
  subheading: clamp(1.1rem, 1rem + 0.6vw, 1.5rem),
  heading: clamp(1.25rem, 1.1rem + 1vw, 2rem),
  title: clamp(1.75rem, 1.25rem + 1.8vw, 2.5rem),
);

$spacing: (
  0: 0,
  1: 4px,
  // xs
  2: 8px,
  // sm  
  3: 12px,
  // md
  4: 16px,
  // lg
  5: 20px,
  // xl
  6: 24px,
  // xxl
  8: 32px,
  // xxxl
  10: 40px,
  12: 48px,
);

@mixin space($property, $size, $direction: '') {
  @if $direction =='' {
    #{$property}: map.get($spacing, $size);
  }

  @else {
    #{$property}-#{$direction}: map.get($spacing, $size);
  }
}

@mixin text($textColor, $textStyle, $textSize) {
  color: map.get($font-colors, $textColor);
  font-family: map.get($font-styles, $textStyle);
  font-size: map.get($font-sizes, $textSize);
}

@mixin padding($size: 1) {
  padding: calc($size * 4px);
}

@mixin margin($size: 1) {
  margin: calc($size * 4px);
}
