@use 'sass:map';

// media
$desktopMinWidth: 1024px;
$tabletMinWidth: 768px;

@mixin tablet {
  @media (min-width: $tabletMinWidth) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktopMinWidth) {
    @content;
  }
}

.gutter {
  position: relative;
  padding: 0px 4px;

  @include tablet {
    padding: 0px 12px;
  }

  @include desktop {
    padding: 0px 36px;
  }
}

.layout {
  position: relative;
}

/* van-gogh */
$brand-blue: #2E9AD8ff;
$khaki: #AC9E93ff;
$brand-yellow: #FECF00ff;
$brand-dark: #18262Aff;
$brand-silver: #B3B3B3ff;
$brand-bg: #efecea;

// text font
$font-colors: (
  main: $brand-dark, //#635f5d,
  light: $brand-silver, //#8e8883,
  demoblue: $brand-blue,// #688bab,
  purple: #8e6c8a,
  green: #0f8c79,
  background: #efecea,
);

$font-styles: (
  fancy: (
    'Titillium Web',
    sans-serif,
  ),
  plain: (
    Arial,
    Helvetica,
    sans-serif,
  ),
);

// $font-sizes: (
//   secondary: clamp(0.625rem, 0.538rem + 0.4348vw, 0.875rem),
//   // 10 - 14
//   paragraph: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem),
//   // 16- 18
//   subsubheading: clamp(1.125rem, 0.9946rem + 0.6522vw, 1.5rem),
//   // 18 - 24
//   subheading: clamp(1.25rem, 1.0761rem + 0.8696vw, 1.75rem),
//   // 20 - 28
//   heading: clamp(1.5rem, 1.1522rem + 1.7391vw, 2.5rem),
//   // 24 - 40
//   title: clamp(2.25rem, 1rem + 2.5vw, 3rem), // 36 - 48
// );
$font-sizes: (
  secondary: clamp(0.625rem, 0.5rem + 0.4vw, 0.875rem),
  paragraph: clamp(0.95rem, 0.9rem + 0.3vw, 1.125rem),
  subsubheading: clamp(1rem, 0.95rem + 0.4vw, 1.25rem),
  subheading: clamp(1.1rem, 1rem + 0.6vw, 1.5rem),
  heading: clamp(1.25rem, 1.1rem + 1vw, 2rem),
  title: clamp(1.75rem, 1.25rem + 1.8vw, 2.5rem),
);

@mixin text($textColor, $textStyle, $textSize) {
  color: map.get($font-colors, $textColor);
  font-family: map.get($font-styles, $textStyle);
  font-size: map.get($font-sizes, $textSize);
}

@mixin padding($size: 1) {
  padding: calc($size * 4px);
}

@mixin margin($size: 1) {
  margin: calc($size * 4px);
}
