@use '../../styles/constants.scss' as constants;

.van-gogh-background {
  background-image: url('../../assets/vangogh.jpg');
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  width: 100%; /* Makes it span the full width of the viewport */
  height: 400px; /* Adjust based on the height you want */
}

.van-gogh {
  @include constants.text(demoblue, plain, paragraph);
  text-align: right;
}
.feel {
  @include constants.text(green, plain, paragraph);
}

.title {
  @include constants.text(light, fancy, title);
  text-align: center;
}

.intro {
  @include constants.text(main, fancy, subheading);
  text-align: center;
}

.map {
  @include constants.text(demoblue, fancy, paragraph);
  text-align: left;
  background-color: #f2da5760; // 80 = ~50% opacity #b8b49e40;
  margin: 1rem;
  border-radius: 8px;
}

.gallery {
  overflow-x: auto;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  // Optional: add horizontal spacing so scroll is visible on touch
  margin: 0 -1rem;
  padding: 1rem;
  @include constants.text(light, plain, heading);
  text-align: left;
}

.frame {
  width: 330px;
  aspect-ratio: 555 / 674; /* or whatever matches your frame image */
  background-image: url('../../assets/frame.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  flex-shrink: 0; // Prevent it from shrinking in flex layout
}

.in-frame {
  position: absolute;
  inset: 0;
  margin-left: 1rem;
  padding: clamp(0.5em, 2vw, 2em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto; // allow vertical scroll if content overflows
  max-height: 100%; 
  max-width: 85%; 
  word-wrap: break-word;
  @include constants.text(main, fancy, secondary);
}

.in-frame-question {
  line-height: 1.2;
  @include constants.text(demoblue, fancy, paragraph);
  text-align: center;
}
