@use '../../styles/constants.scss' as constants;

.van-gogh-background {
  background-image: url('../../assets/vangogh.jpg');
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  width: 100%; /* Makes it span the full width of the viewport */
  height: 400px; /* Adjust based on the height you want */
}

.van-gogh {
  @include constants.text(demoblue, plain, paragraph);
  text-align: right;
}
.feel {
  @include constants.text(green, plain, paragraph);
}

.title {
  @include constants.text(light, fancy, title);
  text-align: center;
}

.intro {
  @include constants.text(main, fancy, subheading);
  text-align: center;
}

.map {
  @include constants.text(demoblue, fancy, paragraph);
  text-align: left;
  background-color: #b8b49e40;
  margin: 1rem;
  border-radius: 8px;
}

.gallery {
  @include constants.text(light, plain, heading);
  text-align: left;
}

.frame {
  aspect-ratio: 555 / 674; /* or whatever matches your frame image */
  background-image: url('../../assets/frame.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.in-frame {
  position: absolute;
  inset: 0;
  padding: clamp(0.5em, 2vw, 2em);
  font-size: clamp(0.5rem, 2vw, 1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.in-frame-question {
  font-size: clamp(0.3rem, 2vw, 0.8rem);
  // @include constants.text(main, fancy, subsubheading);
}
