@use '../../styles/constants.scss' as constants;
@use 'sass:map';

.content-container {
  @include constants.space(padding, 5);
}

.section-intro {
  @include constants.space(margin, 4, bottom);
}

.section-main {
  @include constants.space(margin, 6, bottom);
}

.section-followup {
  @include constants.space(margin, 6, top);
}

.starting-point {
  @include constants.text(main, plain, paragraph);
  @include constants.space(padding, 4);
  text-align: left;

  p {
      @include constants.space(margin, 0);
    }
}

.dataviz-title {
  @include constants.text(demoblue, fancy, subheading);
  @include constants.space(padding, 4);
  background-color: constants.$brand-yellow; //#f2da57; // 80 = ~50% opacity

  p {
      @include constants.space(margin, 2, bottom);
  
      &:last-child {
        margin-bottom: 0;
      }
    }
}

.reasoning-line {
  @include constants.space(padding, 4);
  background-color: constants.$brand-bg;//#688bab60;
  text-align: left;

  p {
      @include constants.space(margin, 3, bottom);
    }
  
    ul {
      @include constants.space(margin, 0);
      @include constants.space(padding, 4, left);
  
      li {
        @include constants.space(margin, 2, bottom);
      }
    }
}

.visualization-container {
  @include constants.space(padding, 3);
}

.hook,
.source {
  color: constants.$brand-dark;
  font-size: map.get(constants.$font-sizes, secondary);
  text-align: left;
}

// world map
.marks .sphere {
  fill: transparent;
  // fill: blue; opacity: 0.05;
}
.marks .interiors {
  fill: none;
  stroke: #b0bfc2;
}
.marks .graticules,
.tick line {
  fill: none;
  stroke: #d4d1d1;
}
.marks .country-label {
  font-size: 1em;
  stroke: #8e8883;
}

.tick text {
  fill: map.get(constants.$font-colors, main);
  font-size: 0.7em;
  font-weight: bold;
}

.axis-label {
  font-size: 0.7em;
  font-style: italic;
  fill: map.get(constants.$font-colors, main);
}

.note-title {
  font-size: 1em;
  font-weight: bold;
  fill: map.get(constants.$font-colors, light);
}
