@use '../../styles/constants.scss' as constants;
@use "sass:map";

.starting-point {
  @include constants.text(main, plain, subheading);
  text-align: left;
}
.dataviz-title {
  @include constants.text(demoblue, fancy, subheading);
  background-color: #F2DA5760; // 80 = ~50% opacity
  
}
.reasoning-line {
  background-color: #688BAB60;
  text-align: left;
}

.hook, .source {
  font-size: map.get(constants.$font-sizes, secondary);
  text-align: left;
}

// world map
.marks .sphere {
    // fill: transparent;
    fill: blue; opacity: 0.05;
  }
.marks .interiors {
  fill: none;
  stroke: #b0bfc2;
}
.marks .graticules, .tick line {
  fill: none;
  stroke: #d4d1d1;
}
.marks .country-label {
  font-size: 1em;
  stroke:#8E8883
}

.tick text {
  fill: #8E8883;
  font-size: 0.7em;
}

.axis-label {
  font-size: 0.7em;
  fill: #635F5D;
}