@use '../styles/constants.scss' as constants;

.canvas-header {
    .navbar {
        border-bottom: 1px solid #ddd;
        font-family: 'EB Garamond', serif;
        background-color: constants.$brand-bg;
        .navbar-brand {
            font-weight: bold;
            font-size: clamp(1.2rem, 1vw + 1rem, 2rem);
            color: constants.$brand-blue;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
        }

        .nav-link {
            font-size: clamp(0.9rem, 0.5vw + 0.8rem, 1.1rem);
            color: constants.$brand-dark;
            margin-left: 1rem;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: constants.$brand-blue;
                text-decoration: underline;
            }
        }

        .navbar-toggler {
            border: none;
        }
    }
}

.canvas-footer {
    border-top: 1px solid #ddd;
    font-family: 'EB Garamond', serif;
    background-color: constants.$brand-bg;
    .footer-title {
        font-size: clamp(1rem, 1vw + 0.8rem, 1.5rem);
        font-weight: bold;
        color: constants.$brand-dark;
    }

    .footer-links {
        margin-bottom: 0.5rem;

        a {
            color: constants.$brand-blue;
            text-decoration: none;
            font-size: clamp(0.85rem, 0.5vw + 0.7rem, 1rem);
            margin: 0 0.5rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .small {
        font-size: 0.75rem;
        color: constants.$brand-dark;
    }

    .footer-icons {
        a {
            color: constants.$brand-dark;
            margin: 0 0.5rem;
            font-size: 1.4rem;
            transition: color 0.3s ease;

            &:hover {
                color: constants.$brand-blue; // or your accent color
            }
        }     
    }
}