body,
html,
#root {
  width: 100%;
  // max-width: 1600px;
  margin: 0;
  padding: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

// .card {
//   padding: 2em;
// }

// .read-the-docs, .title{
//   color: #888;
// }

// .chart-container {
//   width: 90vw;
//   height: 90vw;
//   overflow-y: scroll;
// }
